<launch>

	<include file="$(find ur_robot_driver)/launch/ur5_bringup.launch">
		<arg name="robot_ip" value="192.168.1.10"/>
		<arg name="kinematics_config" value="$(find sorting_demo)/config/ur5_calibration.yaml"/>
		<arg name="controller_config_file" default="$(find sorting_demo)/config/controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
	</include>

	<include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch"/>

	<include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
		<arg name="config" default="true" />
	</include>


</launch>
